/*Шрифты*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


/*Глобальные*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.body__container {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
  box-shadow: 0 0 15px 0 #00000033;
}

.main-content {
  flex-grow: 1;
}

.button {
  background-color: #756157;
  color: #FFFFFF;
  padding: 8px 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}

/*Навигация*/
.header {
  display: flex;
  background-color: #FFFFFF;
  height: 64px;
}

.navigation {
  display: flex;
  padding: 0;
  width: 339px;
  min-height: 64px;
  margin: 0 0 0 238px;
  border: none;
}

.header__logo {
  width: 140px;
  height: 70px;
  margin-left: 70px;
  display: block;
  position: absolute;
}

.navigation__list {
  display: flex;
  /*Ставит в ряд*/
  flex-wrap: wrap;
  /*Переполнение работает*/
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__link {
  color: black;
  text-decoration: none;
  padding: 20px 16px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation__text--active{
  border-bottom: 2px solid #756157;
  padding-bottom: 21px;
}

.navigation-user{
  margin-left: auto;
}

.navigation-user__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 70px 0 auto;
  max-width: 268px;
  min-height: 64px;
}

.navigation-user__link {
  color: #000000;
  text-decoration: none;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
}

.navigation-user__link.button:hover{
  background-color: #615048;
}

.navigation-user__link.button:focus{
  background-color: #615048;
}

.navigation-user__link.button:active{
  color: #FFFFFF4D;
  background-color: #756157;
}

.navigation-user__link.button:disabled{
  background-color: #E5E5E5;
}

.search {
  display: inline-block;
  /* Позволяет задавать размеры иконки */
  min-width: 20px;
  /* Ширина иконки */
  min-height: 20px;
  /* Высота иконки */
  background-image: url('../image/navigation-icons/search.svg');
  /* Путь к изображению иконки */
  background-repeat: no-repeat;
  /* Не повторяем изображение */
  background-position: center;
  /* Центрируем изображение */
  border: none;
  /* Убираем границы */
  padding: 22px 12px;
  /* Убираем внутренние отступы */
}

.favorite {
  display: inline-block;
  /* Позволяет задавать размеры иконки */
  min-width: 20px;
  /* Ширина иконки */
  min-height: 20px;
  /* Высота иконки */
  background-image: url('../image/navigation-icons/heart.svg');
  /*Путь к изображению иконки */
  background-repeat: no-repeat;
  /* Не повторяем изображение */
  background-position: center;
  /* Центрируем изображение */
  border: none;
  /* Убираем границы */
  padding: 22px 12px;
  /* Убираем внутренние отступы */
  position: relative;
}

.favorite::after {
  content: '12'; /* Текст, который будет отображаться */
  position: absolute; /* Позволяет позиционировать элемент относительно родителя */
  top: 1; /* Положение сверху */
  right: 1; /* Положение справа */
  transform: translate(50%, -50%); /* Центрируем круг относительно текста */
  width: 20px; /* Ширина круга */
  height: 20px; /* Высота круга */
  background-color: #7DB54F; /* Цвет круга */
  color: white; /* Цвет текста */
  border-radius: 50%; /* Делаем круг */
  display: flex; /* Для центрирования текста */
  align-items: center; /* Вертикальное центрирование текста */
  justify-content: center; /* Горизонтальное центрирование текста */
  font-size: 10px; /* Размер шрифта */
  font-family: PT Sans;
  font-weight: 400;
}

header .button {
  padding: 8px 34px;
  margin-left: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

header .button__text {
  font-size: 16px;
}

/*Блок герой*/
.hero {
  background-image: url(../image/divider.svg), url(../image/background/background.jpg);
  background-repeat: no-repeat;
  background-color: #3d3f8052;
  min-height: 485px;
  background-position: bottom, 100%;
}

.hero__image {
  margin: 51px 371px 0 371px;
}

/*Блок с преимуществами*/
.advantages {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.advantage__text-block {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  min-height: 261px;
  padding: 0 22.8%;
  margin-top: 44px;
  max-height: 620px;
}

.main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.advantage__title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
}

.advantages__bloks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  text-align: center;
  background: #83B3D31F;
}

.advantage__text-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 62px;
  width: 230px;
  height: auto;
}

.advantage__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 175px;
}

.advantage__line{
  position: absolute;
  width: 60px;
  height: 2px;
  background: #0000004D;
}

.advantage__line--white{
  background-color: #FFFFFF4D;
}

.advantage__description {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 230px;
}

.advantage__block-color {
  background-color: #82b3d3;
}

.advantage__block-darker {
  background-color: #83B3D333;
  ;
}

.advantage__text-special {
  color: #FFFFFF;
}

.advantage__description-special {
  color: #FFFFFF;
}

/*Блок с рекомендациями*/
.recommendation {
  display: flex;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.recommendation__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  min-height: 246px;
  row-gap: 20px;
  margin-left: 347.5px;
  margin-right: 347.5px;
}

.recommendation__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.recommendation__caption {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
}

.recommendation__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendation__block {
  width: 400px;
  height: auto;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.recommendation__item:nth-child(1) .recommendation__block {
  background-image: url(../image/decoration-icons/house.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 22%;
  background-color: #83B3D31F;
}

.recommendation__item:nth-child(2) .recommendation__block {
  background-image: url(../image/decoration-icons/food.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 22%;
}

.recommendation__item:nth-child(3) .recommendation__block {
  background-image: url(../image/decoration-icons/price.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 22%;
  background-color: #83B3D31F;
}

.recommendation__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 30px;
}

.recommendation__description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  width: 230px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 81px;
}

.footer {
  background-color: #FFFFFF;
}

.input-form {
  display: flex;
  background-color: #FFFFFF;
  min-height: 406px;
  margin: 0;
  justify-content: center;
}

.input-form__block {
  flex-direction: column;
  display: flex;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.subscribe__input-darker {
  background-color: #F2F2F2;
}

.input-form__text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.input-form__description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.input-form-button {
  width: 376px;
  height: 52px;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  margin-top: 34px;
}

.subscribe__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  min-height: 414.86px;
}

.subscribe__block-decoration {
  background-image: url(../image/background/background-blur-index.jpg);
  background-repeat: no-repeat;
  background-color: #a0c2d8;
  background-size: cover;
}

.subscribe__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
}

.subscribe__title-dark {
  color: #000000;
}

.subscribe__text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.subscribe__text-dark {
  color: #333333;
}

.subscribe__form {
  margin: 34px auto 0 auto;
  display: flex;
}

.subscribe__input {
  margin: 0;
  padding: 0;
  outline: none;
  width: 432px;
  height: 52px;
  border: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.subscribe__button {
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  padding: 0;
}

.footer__block {
  display: flex;
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.social-media__block {
  margin: 5px 0 5px 0;
}

.social-media__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 142px;
  padding: 0;
  margin: 0;
}

.social-media__item{
  width: 47.33px;
  height: 40px;
}

.social-media__list .social-media__item:nth-child(1) {
  padding: 13px 11.67px 13px 11.67px;
  border: none;
  width: 23px;
  height: 14px;
}

.social-media__list .social-media__item:nth-child(2) {
  padding: 12px 14.67px 12.9px 14.67px;
  border: none;
  width: 18px;
  height: 15.1px;
}

.social-media__list .social-media__item:nth-child(3) {
  padding: 11.5px 12.67px 11.5px 12.67px;
  border: none;
  width: 22px;
  height: 17px;
}

.telephone {
  margin: 0;
  margin-left: 236.5px;
  margin-right: 235.5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.telephone-link {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.copyright{
  margin-left: auto;
}

.copyright-image {
  margin: 8.5px 0 8.5px 0;
}

/* каталог начало */

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px 0;
  color: #FFFFFF;
}

.breadcrumbs {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 10px;
}

.breadcrumbs__item:nth-child(1) {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 13px;
  height: 15px;
}

.breadcrumbs__item:nth-child(1) .breadcrumbs__link {
  margin-top: auto;
  margin-bottom: auto;
  background-image: url('../image/Breadcrumbs/home-breadcrumbs.svg');
  background-repeat: no-repeat;
  display: inline-block;
  /* Чтобы отобразить фон */
  width: 12px;
  height: 12px;
  background-size: contain;
}

.breadcrumbs__item:nth-child(2) {
  display: flex;
  width: 8px;
  height: 19.94px;
  margin-top: auto;
  margin-bottom: auto;
}

.breadcrumbs__item:nth-child(2) .breadcrumbs__link {
  background-image: url('../image/Breadcrumbs/breadcrumbs.svg');
  background-repeat: no-repeat;
  display: inline-block;
  /* Чтобы отобразить фон */
  width: 6.39px;
  height: 9.94px;
  margin-top: auto;
  margin-bottom: auto;
  background-size: contain;
}

.breadcrumbs__item:nth-child(3) {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}

/* удалить начало */

.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.infrastructure__checkbox {
  /* Скрываем стандартный чекбокс */
  display: none;
}

.infrastructure__value {
  position: relative;
  padding-left: 30px;
  /* Отступ для квадратного элемента */
  cursor: pointer;
}

.infrastructure__value::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  /* Ширина квадрата */
  height: 20px;
  /* Высота квадрата */
  border: none;
  /* Цвет рамки по умолчанию */
  background-color: white;
  /* Цвет фона по умолчанию */
  border-radius: 4px 4px 4px 4px;
  transition: background-color 0.3s, border-color 0.3s;
  /* Плавный переход */
}

.infrastructure__checkbox:checked + .infrastructure__value::before {
  background-color: #ffffff;
  /* Цвет фона при выборе */
  border-color: #ffffff;
  /* Цвет рамки при выборе */
  background-image: url('../image/Vector.png');
  /* Путь к изображению галочки */
  /* Масштабируем изображение */
  background-repeat: no-repeat;
  /* Не повторяем изображение */
  background-position-y: 5px;
  /* Центрируем изображение */
  background-position-x: 4px;
}

/* удалить конец */
.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control-radio {
  /* Скрываем стандартную радиокнопку */
  display: none;
}

.control-radio + .control__value {
  position: relative;
  padding-left: 30px;
  /* Отступ для круглого элемента */
  cursor: pointer;
}

.control__value::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  /* Ширина круга */
  height: 10px;
  /* Высота круга */
  border: solid 5px;
  /* Цвет рамки по умолчанию */
  border-radius: 50%;
  /* Делаем круг */
  background-color: white;
  /* Цвет фона по умолчанию */
  transition: background-color 0.3s, border-color 0.3s;
  /* Плавный переход */
}

.control-radio:checked + .control__value::before {
  width: 10px;
  /* Ширина круга */
  height: 10px;
  /* Высота круга */
  background-color: #3F5E72;
  /* Цвет фона при выборе */
  border-color: #ffffff;
  /* Цвет рамки при выборе */
}

.search-filters {
  display: flex;
  margin-top: 40px;
}

.search-filters__prodduct {
  display: flex;
  margin-bottom: 70px;
}

.price,
.housing,
.infrastructure {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  width: auto;
  height: auto;
}

.housing {
  margin-left: 70px;
}

.price {
  margin-left: 140.15px;

}

.price__title {
  margin: 0;
  padding: 0;
}

.test {
  display: flex;
}

.input-container {
  position: relative;
}

.input-container input {
  margin: 0;
  margin-left: 2px;
  padding: 0;
  padding-left: 30px;
  /* Отступ для текста */
  appearance: textfield;
  /* Убираем стрелочки в Firefox */
  border: none;
  width: 113px;
  height: 48px;

}

.test .input-container:nth-child(1) input{
  border-radius: 4px 0 0 4px;
}

.test .input-container:nth-child(2) input{
  border-radius: 0 4px 4px 0;
}

.input-container input::-webkit-inner-spin-button,
.input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* Убираем стрелочки в Chrome, Safari и Opera */
  margin: 0;
  /* Убираем отступ */
}

.input-container .placeholder {
  position: absolute;
  left: 110px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /* Чтобы текст не мешал вводу */
  color: #aaa;
  /* Цвет текста */
  width: 17px;
  height: 24px;
}

.price__box-button {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 70px;
}

.input-container {
  margin-top: 32px;
}

.input-container input {
  outline: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.slider__input {
  margin: 0;
}

.slider {
  position: relative;
  width: 287px;
  /* Ширина слайдера */
  height: 4px;
  /* Высота слайдера */
  background: #FFFFFF;
  /* Цвет фона слайдера */
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

.slider input[type="range"] {
  appearance: none;
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent;
  pointer-events: none;
  /* Отключаем события для основного ползунка */
}

.slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  /* Ширина ползунка */
  height: 20px;
  /* Высота ползунка */
  background: white;
  /* Цвет ползунка */
  border-radius: 5px;
  /* Скругление углов */
  cursor: pointer;
  pointer-events: auto;
  /* Включаем события для ползунка */
  position: relative;
  top: -8px;
  /* Поднимаем ползунок на 8 пикселей для выравнивания */
  border: 1px solid #ccc;
  /* Добавляем границу для ползунка */
}

.slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  /* Ширина ползунка */
  height: 20px;
  /* Высота ползунка */
  background: white;
  /* Цвет ползунка */
  border-radius: 5px;
  /* Скругление углов */
  cursor: pointer;
  position: relative;
  top: -8px;
  /* Поднимаем ползунок на 8 пикселей для выравнивания */
  border: 1px solid #ccc;
  /* Добавляем границу для ползунка */
}

.slider .range-value {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price__box-button {
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-left: 70px;
}

.button-apply {
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  cursor: pointer;
  border-radius: 4px 4px 4px 4px;
}

.button-apply:hover{
  background-color: #68A2CA;
}

.button-apply:focus{
  background-color: #68A2CA;
}

.button-apply:active{
  color: #FFFFFF4D;
}

.button-apply:disabled{
  background-color: #E5E5E5;
}

.button-reset {
  width: 191px;
  height: 36px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 32px;
  padding: 0;
  cursor: pointer;
}

/*наведение*/
.button-reset:hover{
  opacity: 0.6;
  border: none;
}

/*фокус*/
.button-reset:focus{
  border: 3px solid #83B3D3
}

/*нажатие*/
.button-reset:active{
  color: #FFFFFF4D;
  border: none;
}
/*неактивное*/
.button-reset:disabled{
  opacity: 0.1;
  border: none;
}

.price__title,
.housing__title,
.infrastructure__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.filter__list,
.infrastructure__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
}

.control-radio,
.infrastructure__checkbox {
  width: 20px;
  height: 20px;
}

.filter__item:not(:first-child) {
  margin-top: 16px;
}

.filters__catalog {
  background-image: url(../image/background/background-blur-catalog.jpg);
  background-repeat: no-repeat;
  background-color: #a0c2d8;
  background-size: cover;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.input-price {
  width: 143px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.price__box-input {
  display: flex;
}

.search-results {
  background-color: #FFFFFF;
  padding: 50px 70px 60px 70px;
}

.search-results__header {
  display: flex;
  align-items: center;
}

.search-results__title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-container {
  position: relative;
  width: 314px; /* Ширина контейнера */
  margin-left: 200px; /* Отступ слева */
}

.select-sort {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 100%; /* Занимает всю ширину контейнера */
  height: 49px;
  color: #333333;
  padding-left: 20px;
  padding-right: 40px; /* Увеличьте отступ справа для иконки */
  border: #E5E5E5 solid 2px;
  outline: none;
  appearance: none; /* Убираем стандартную стрелочку */
}

.select-container::after {
  content: '';
  position: absolute;
  right: 20px; /* Положение иконки */
  top: 50%;
  transform: translateY(-50%); /* Центрируем по вертикали */
  width: 11.93px; /* Ширина иконки */
  height: 7.02px; /* Высота иконки */
  background-image: url('../image/select.svg'); /* Путь к вашей иконке */
  background-size: contain; /* Масштабируем иконку */
  background-repeat: no-repeat; /* Не повторяем иконку */
  pointer-events: none; /* Чтобы иконка не мешала взаимодействию с select */
}

.display-button {
  display: flex;
  width: 46px;
  height: 46px;
  border: #E5E5E5 solid 2px;
  border-radius: 4px 4px 4px 4px;
}

.display-button-active {
  border: #000000 solid 2px;
}

.search-results__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
  margin-left: auto;
  max-width: 160px;
  height: auto;
}

.search-results__item{
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}

.search-results__list .search-results__item:nth-child(1) {
  background-image: url(../image/sorting/sorting-image.svg);
}

.search-results__list .search-results__item:nth-child(2) {
  background-image: url(../image/sorting/sorting-image-1.svg);
}

.search-results__list .search-results__item:nth-child(3) {
  background-image: url(../image/sorting/sorting-image-2.svg);
}

.product-card__list {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 20px;
}

.product-card__item {
  padding: 20px;
  box-sizing: border-box;
  border: #E6E6E6 1px solid;
  width: 340px;
  min-height: 438px;
}

.about-hotel {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
}

.product-card__link {
  text-decoration: none;
  color: #000000;
}

product-card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  padding: 0;

}

.product-card__price,
.product-card-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.product-card__price {
  text-align: right;
}

.more {
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border: none;
  border-radius: 4px 4px 4px 4px;
  width: 140px;
  height: 36px;
  text-align: center;
}

.more:hover{
  background-color: #615048;
}

.more:focus{
  background-color: #615048;
}

.more:active{
  color: #FFFFFF4D;
  background-color: #756157;
}

.more:disabled{
  background-color: #E5E5E5;
}

.button__text {
  margin: auto;
}

.product-card__button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 140px;
  height: 36px;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}

.product-card__button:hover {
  background-color: #68A2CA;
}

.product-card__button:focus {
  background-color: #68A2CA;
}

.product-card__button:active{
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.product-card__button:disabled{
  background-color: #E5E5E5;
}

.switch-on {
  background-color: #7DB54F;
}

.switch-on:hover {
  background-color: #6C9E42;
}

.switch-on:focus {
  background-color: #6C9E42;
}

.switch-on:active {
  color: #FFFFFF4D;
  background-color: #7DB54F;
}

.switch-on:disabled{
  background-color: #E5E5E5;
}

.stars {
  display: flex;
}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url(../image/decoration-icons/star.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: auto;
}

.star:not(:first-child) {
  margin-left: 6px;
}

.rating {
  display: flex;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  margin-left: auto;
}

.rating__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: auto;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.pagination__item {
  width: 60px;
  height: 60px;
  border-radius: 4px 4px 4px 4px;
  background-color: #82b3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pagination__item-active {
  background-color: #F2F2F2;
}

.pagination__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  padding: 25%;
}

.pagination__link-active {
  color: #000000;
}
